<!-- <div>
  <div *ngFor="let order of orders">
    <h3>{{order.name}}</h3>
    <h5>Size: {{order.size}}</h5>
    <h5>Quantity: {{order.quantity}} loaves</h5>
    <p>at N{{order.purchasePrice}} per loaf</p>
    <hr>
    <br>
  </div>
</div> -->

<table mdbTable>
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let order of orders">
      <th scope="row"> </th>
      <td>{{order.name}}</td>
      <td>{{order.size}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order.purchaseprice}}</td>
      <td>{{order.sellingprice}}</td>
    </tr>
  </tbody>
</table>


<div>
  <div>
    <p>Order Total : N{{getOrderInfo().orderAmount}}</p>
    <br>
    <p>Expected Amount in sales : N{{getOrderInfo().salesAmount}}</p>
    <br>
    <p>Estimated Profit : N{{getOrderInfo().profit}}</p>
  </div>
  <button (click)="routeToOrders()" >Back to your order</button>
</div>
