<div>
  <div *ngFor="let order of orders">
    <h3>{{order.name}}</h3>
    <h5>Size: {{order.size}}</h5>
    <h5>Quantity: {{order.quantity}} loaves</h5>
    <p>at N{{order.purchasePrice}} per loaf</p>
    <hr>
    <br>
  </div>
</div>


<div>
  <div>
    <p>Order Total : N{{getOrderInfo().orderAmount}}</p>
    <br>
    <p>Expected Amount in sales : N{{getOrderInfo().salesAmount}}</p>
    <br>
    <p>Estimated Profit : N{{getOrderInfo().profit}}</p>
  </div>
  <button (click)="routeToOrders()" >Back to your order</button>
</div>
